<div class="block job">
    <div class="title">
        <h3><a href="#">{{ job.title }}</a></h3>
        <div class="price">{{ job.price }}$</div>
    </div>
    <div class="description">
    задачи по вордпресу в целом и по woocomerce(перечисляю кратко): 1.максимальная русификация вордпреса и вукомерса и всех их плагинов важных для работы магазина 2.в…
    </div>
    <div class="tags">
        <span class="tag">
            <div class="icon"><i class="fa fa-money fa-lg" aria-hidden="true"></i></div>
            За час
        </span>
        <span class="tag">
            <div class="icon"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></div>
            Проект
        </span>
        <span class="tag">
            <div class="icon"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></div>
            5 минут назад
        </span>
        <span class="tag">
            <div class="icon"><i class="fa fa-exclamation fa-lg" aria-hidden="true"></i></div>
            Только для <a href="#"><b>PRO</b></a>
        </span>
    </div>
</div>