{% extends "AppBundle:Default:base.html.twig" %}

{% block title %}Работа{% endblock %}

{% block leftmenu %}
<div class="sidebar">
    <div class="block">
        
    </div>
</div>
{% endblock %}

{% block body %}
<div class="content">
    <div class="block job">
        {{ dump(job.title) }}
    </div>
</div>
{% endblock %}