{% extends "AppBundle:Default:base.html.twig" %}

{% block title %}Работа{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block leftmenu %}
<div class="sidebar">
    <div class="block ui_block">
        <ul class="ui">
            <li class="title">Все категории <span class="num">1</span></li>
            {% for category in categoryes %}
                {{ dump(category.jobs|length) }}
                <li><a href="#">{{ category.name }}</a><span class="num">{{ category.name }}</span></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="content">
    <div class="jobs_list">
        {% for job in jobs %}
            {% include 'AppBundle:Job:job.html.twig' with {'job': job} %}
        {% endfor %}
    </div>
</div>
{% endblock %}