<div class="sidebar">
    <div class="block ui_block">
        <ul class="ui">
            <li class="title">Все категории <span class="num">1</span></li>
            <li><a href="#">Администрирование сайтов</a><span class="num">223</span></li>
            <li><a href="#">Архитектура и Инжиниринг</a><span class="num">31</span></li>
            <li><a href="#">Аудио, Видео и Мультимедиа</a><span class="num">463</span></li>
            <li><a href="#">Веб-дизайн и Интерфейсы</a><span class="num">1235</span></li>
            <li><a href="#">Веб-программирование и Сайты</a><span class="num">6456</span></li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="block order">
        <div class="title">
            <h3><a href="#">Интернет магазин на Wordpress(доработка)</a></h3>
            <div class="price">123$</div>
        </div>
        Договорная
        задачи по вордпресу в целом и по woocomerce(перечисляю кратко): 1.максимальная русификация вордпреса и вукомерса и всех их плагинов важных для работы магазина 2.в…
        <div class="tags">
            <span class="tag">
                <div class="icon"><i class="fa fa-money fa-lg" aria-hidden="true"></i></div>
                За час
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></div>
                Проект
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></div>
                5 минут назад
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-exclamation fa-lg" aria-hidden="true"></i></div>
                Только для <a href="#"><b>PRO</b></a>
            </span>
        </div>
    </div>

    <div class="block order">
        <div class="title">
            <h3><a href="#">Интернет магазин на Wordpress(доработка)</a></h3>
            <div class="price">123$</div>
        </div>
        Договорная
        задачи по вордпресу в целом и по woocomerce(перечисляю кратко): 1.максимальная русификация вордпреса и вукомерса и всех их плагинов важных для работы магазина 2.в…
        <div class="tags">
            <span class="tag">
                <div class="icon"><i class="fa fa-money fa-lg" aria-hidden="true"></i></div>
                За час
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></div>
                Проект
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></div>
                5 минут назад
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-exclamation fa-lg" aria-hidden="true"></i></div>
                Только для <a href="#"><b>PRO</b></a>
            </span>
        </div>
    </div>
    <div class="block order">
        <div class="title">
            <h3><a href="#">Интернет магазин на Wordpress(доработка)</a></h3>
            <div class="price">123$</div>
        </div>
        Договорная
        задачи по вордпресу в целом и по woocomerce(перечисляю кратко): 1.максимальная русификация вордпреса и вукомерса и всех их плагинов важных для работы магазина 2.в…
        <div class="tags">
            <span class="tag">
                <div class="icon"><i class="fa fa-money fa-lg" aria-hidden="true"></i></div>
                За час
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></div>
                Проект
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></div>
                5 минут назад
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-exclamation fa-lg" aria-hidden="true"></i></div>
                Только для <a href="#"><b>PRO</b></a>
            </span>
        </div>
    </div>
    <div class="block order">
        <div class="title">
            <h3><a href="#">Интернет магазин на Wordpress(доработка)</a></h3>
            <div class="price">123$</div>
        </div>
        Договорная
        задачи по вордпресу в целом и по woocomerce(перечисляю кратко): 1.максимальная русификация вордпреса и вукомерса и всех их плагинов важных для работы магазина 2.в…
        <div class="tags">
            <span class="tag">
                <div class="icon"><i class="fa fa-money fa-lg" aria-hidden="true"></i></div>
                За час
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></div>
                Проект
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></div>
                5 минут назад
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-exclamation fa-lg" aria-hidden="true"></i></div>
                Только для <a href="#"><b>PRO</b></a>
            </span>
        </div>
    </div>
    <div class="block order">
        <div class="title">
            <h3><a href="#">Интернет магазин на Wordpress(доработка)</a></h3>
            <div class="price">123$</div>
        </div>
        Договорная
        задачи по вордпресу в целом и по woocomerce(перечисляю кратко): 1.максимальная русификация вордпреса и вукомерса и всех их плагинов важных для работы магазина 2.в…
        <div class="tags">
            <span class="tag">
                <div class="icon"><i class="fa fa-money fa-lg" aria-hidden="true"></i></div>
                За час
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></div>
                Проект
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></div>
                5 минут назад
            </span>
            <span class="tag">
                <div class="icon"><i class="fa fa-exclamation fa-lg" aria-hidden="true"></i></div>
                Только для <a href="#"><b>PRO</b></a>
            </span>
        </div>
    </div>
</div>