<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{%block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% include "AppBundle:Components:stylesheets.html.twig" %}

    {%block stylesheets %}{%endblock%}
    {%block head %}{%endblock%}
</head>
<body>
    <div class="main_sidebar">
        <ul class="sidebar_menu">
            <li><a href="#" class="logo"><img src="http://slto.ru/views/Social/images/logo.png" alt=""></a></li>
            <li><a href="#"><i class="fa fa-home fa-lg fa-fw"></i></a></li>
            <li><a href="#"><i class="fa fa-gavel fa-lg fa-fw"></i></a></li>
            <li><a href="#"><i class="fa fa-users fa-lg fa-fw"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope fa-lg fa-fw"></i></a></li>
            <li><a href="#"><i class="fa fa-bell fa-lg fa-fw"></i></a></li>
            <li><a href="#"><img src="http://slto.ru/user_files/avatars/1.png" alt=""></a></li>
            <li><a href="#"><i class="fa fa-sign-out fa-lg fa-fw"></i></a></li>
        </ul>
    </div>
    <div class="main_container">
        <div class="block page_header">
            <div class="wrap">
                <div class="info">
                    <h2>{{ app.request.get('_route') }}</h2>
                    <div class="breadcrumbs"><a href="#">Работа</a> > <a href="#">Администрирование сайтов</a></div>
                </div>
                <button class="button big_button fl_r">Опубликовать задание</button>
            </div>
        </div>
        <div class="wrap">
            {% block leftmenu %}{% endblock %}
            {% block body %}{% endblock %}
            
        </div>
        <div class="clearfix"></div>
    </div>
    
    {% include "AppBundle:Components:javascripts.html.twig" %}
    {% block javascripts %}{% endblock %}
    
</body>
</html>